.cart{
    background-image: linear-gradient(to right, rgb(80, 2, 2), rgb(0, 0, 0));

}
.cart_1{
    color: white;
}
.card-title{
    color: white;
}
.h2{
    color: white;
}
.h4{
    color: white;
}
#card99{
    color: white;
}
#card999{
    color: white;
}
.color99{
    color: white;
}
.small{
    color: white;
}
#color76{
    color: orangered;
}